@charset "UTF-8";


ul{
	list-style:none;
	 padding: 10px 10px 10px 10px;
	 border-bottom: 1px solid #dddfe4;
	 display : flex;
	
}
.comment_meta{
	padding-bottom: 5px;
}
.comment_nickName{
	padding-right: 5px;
}


.comment_li{
	padding: 10px;
	border-top: 1px solid #dddfe4;
}
.board_top_bar_li{
/* 	border-right: thin solid #7b858e; */
	float: left;
    margin : auto;
    line-height: 15px;
    font-size: 14px;
    color: #7b858e;
    margin-left : 37px;
	
}
.imgg{
	float: left;
	
}
.board_top_bar_ul:after{
	content: "";
	display: block;
    clear: both;

}
#boardView_subject{
	margin:auto;
	width: 60%;
	height: auto;
	background-color: #ffffff;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 15%);
	margin-bottom: 5px;
}
.boardView_content{
	border-bottom: 1px solid #dddfe4;
	padding: 20px;
}
#boardView_img{
	margin:auto;
	width: 60%;
	height: auto;
	margin-bottom:5px;
}

#view_img{
	width: 100%;
	height: auto;
	object-fit: cover;
}

.boardView_content_subject{
	border-bottom: 1px solid #dddfe4;
	padding: 20px 0px 20px 0px;
}

.boardView_content_menu{
/* 	border-bottom: 1px solid #dddfe4; */
	padding: 20px;
	background: #f8f9fa;
    text-align: right;	
    
}

.boardView_content_menu #goodBtn{
	font-size:15px;
	border:0;
	outline: 0;
	background: #f8f9fa;
	margin-bottom: 15px;
}

.boardView_content_menu input{
	font-size:15px;
	border:0;
	outline: 0;
	background: #f8f9fa;
	margin-left: 40px;
	
}
.boardView_content_menu button:hover{
	cursor: pointer;
}

#subjectSpan{
	font-size: 25px;
	margin-left: 40px;
	
}
.comment_form_div{
	margin:auto;
	width: 60%;
	height: auto;
	background-color: #ffffff;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 15%);
	margin-bottom: 5px;
	
}

