@charset "UTF-8";

#boardWriteFormOutDiv{
	width: 100%;
	height: 100%;
}

.boardWriteForm{
	position: absolute;
	top:10%;	
	margin-left : 18.5%;
}

.writeBottomBtnClass{
	margin :20px;
	border-radius: 10px;
	background-color: #f76900;
	border: #f76900 2px solid;
	color: white;
	font-size: 15px;
	width: 80px;
	height : 30px;
}

#subject{
	border:0;
	outline: none;
	width: 500px;
}

#category{
	text-align:center;
	width: 110px;
	height : 40px;
	font-size: 20px;
	color: white;
	border: #f76900 2px solid;
	border-radius: 10px;
	background-color: #f76900;
}
#subject{
	font-size: 20px;
	margin-left: 10px;
	
}
.inputTextForm{
	margin: 30px;
	width: 800px;
	height: auto;
	border: 0;
	border-radius: 20px;
	outline: none;
	padding-left: 10px;
	background-color: white;
	border: #f76900 2px solid;
	padding: 10px;
}
.cke_chrome{

	border: 0

}
.cke_top{
	border-radius:  20px 20px 0 0;
	
}
.cke_inner{
	background: 0;
}
.cke_bottom{
	border-radius :  0 0 20px 20px;
}
