<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardSQL">

	<!-- 글쓰기 -->
	<insert id="boardWrite" parameterType = "java.util.Map">
		insert into board(seq,category,nickname,name,email,subject,content,ref)
					values(seq_board.nextval
					,#{category}
					,#{nickname}
					,#{name}
					,#{email}
					,#{subject}
					,#{content}
					,seq_board.nextval)
	</insert>
	<!-- 목록 -->
	<select id="getBoardList" parameterType ="java.util.Map" resultType="board">
		<!--select * from (select rownum rn, tt.*
					from (select * from board order by ref desc, step asc)tt)
					where rn &gt;=${startNum} and rn &lt;=${endNum}
					  where rn between #{startNum} and #{endNum}--> 
					
		<![CDATA[
		select * from (select rownum rn, tt.*
		from (select * from board order by ref desc, step asc)tt)
					where rn >=${startNum} and rn <=${endNum}
		]]><!-- SQL 문장 있는 그대로 -->
	</select>
	
	<!-- 목록인덱스 -->
	<select id="getBoardListIndex" parameterType ="java.util.Map" resultType="board">
		<!--select * from (select rownum rn, tt.*
					from (select * from board order by ref desc, step asc)tt)
					where rn &gt;=${startNum} and rn &lt;=${endNum}
					  where rn between #{startNum} and #{endNum}--> 
					
		<![CDATA[
		select * from (select rownum rn, tt.*
		from (select * from board order by ref desc, step asc)tt)
					where rn >=${startNum} and rn <=${endNum}
		]]><!-- SQL 문장 있는 그대로 -->
	</select>

	
	<!-- 글보기 -->
	<select id="getBoardView" parameterType="Int" resultType="board">
		select * from board where seq = #{seq}
	</select>
	
	<!-- 총글수 -->
	<select id="getTotalA" resultType="Int">
		select count(*) from board
	</select>
	
	<!-- 글수정  -->
	<select id="boardUpdate" parameterType="java.util.Map">
		update board set content=#{content}
						,subject=#{subject}
						,logtime=sysdate where seq = #{seq}
	
	</select>
	
	<!-- 답글 -->
	<insert id="boardReply" parameterType="java.util.Map">
		begin
			<!-- step update -->
			update board set step=step+1 where ref = #{ref} and step > #{step};
			<!-- insert -->
			insert into board Values (seq_board.nextval
									, #{nickname}
									, #{name}
									, #{email}
									, #{subject}
									, #{content}
									, #{ref} <!-- 원글ref-->
									, #{lev}+1 <!-- 원글lev+1-->
									, #{step}+1 <!-- 원글step+1-->
									, #{pseq}
									, 0 <!-- reply -->
									, 0 <!-- hit -->
									,sysdate);
			<!-- reply update -->	
			update board set reply=reply+1 where seq = #{pseq};
		
		end;
	</insert>
	
	<!-- 삭제 -->
	<delete id="boardDelete" parameterType="Int">
		begin
			<!-- 원글을 찾아서 답글수 감소 -->
			update board set reply=reply-1
			where seq=(select pseq from board where seq=#{seq});
			<!-- 답글을 찾아서 제목춫가 -->
			update board set subject='[원글이삭제된답글]'||subject
			where pseq=#{seq};
			<!-- 삭제 -->
			delete board where seq = #{seq};
		end;
	</delete>
	
	<!-- 조회수 -->
	<update id="setHit" parameterType="Int">
		update board set hit = hit +1 where seq=#{seq}
	</update>
	
	<!-- 서치 -->
	<select id="getBoardSearch" parameterType="java.util.Map" resultType="board">
		<![CDATA[
		select * from
		(select rownum rn, tt.*
		from (select * from board where content like '%'||#{keyword}||'%' or subject like '%'||#{keyword}||'%'
										order by ref desc, step asc)tt)
		where rn >= ${startNum} and rn <=${endNum}
				
		]]>
	</select>
	
	<!-- 검색한 총글수  -->
	<select id="getTotalSearchA"  parameterType="java.util.Map" resultType="Int">
		select count (*) from board where content like '%'||#{keyword}||'%' or subject like '%'||#{keyword}||'%'
	</select>
	
	<insert id="commentWrite" parameterType="java.util.Map">
		insert into commentText Values(
			seq_comment.nextval
			, #{nickName}
			, #{commentContent}
			, #{seq}
			, seq_comment.nextval
			, 0
			, 0
			, 0
			, 0
			, 0
			,sysdate
	)
	</insert>
	
	<select id="commentOutput" parameterType="java.util.Map" resultType="comment">
		select * from commentText where boardseq=#{seq}
	</select>
	
	
	
	
</mapper>