<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="customerSQL">

	<!-- 문의하기 쓰기 -->
	<insert id="customerWrite" parameterType = "java.util.Map">
		insert into customer(seq,id,email,subject,content,logtime)
					values(seq_customer.nextval
					,#{id}
					,#{email}
					,#{subject}
					,#{content}
					,sysdate)
	</insert>
</mapper>