<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="productSQL">
	<insert id="productMangeWrite" parameterType="java.util.Map">
		insert into product values(
			seq_product.nextval
			,#{productName}
			,#{productCategory}
			,#{mainPhoto}
			,#{productSubject}
			,#{productContent}
			,#{productPrice}
			,#{productQty}
			,#{productOrigin}
			,#{productWeight}
			,#{productLife}
			,sysdate
		)
	</insert>
</mapper>