<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="productSQL">
	<insert id="productWrite" parameterType="java.util.Map">
		insert into product values(
			seq_product.nextval
			,#{productCode}
			,#{productName}
			,#{productCategory}
			,#{mainPhoto}
			,#{productOrigin}
			,#{productWeight}
			,#{productLife}
			,sysdate
		)
	</insert>
	
	<select id="getProductMangeList" parameterType="java.util.Map" resultType="product">
		select * from (select rownum rn, tt.*
					from (select * from product order by productseq)tt)
					<!-- where rn &gt;=${startNum} and rn &lt;=${endNum} -->
					  where rn between #{startNum} and #{endNum}
	</select>
	<select id="getProduct" parameterType="java.util.Map" resultType="product">
		select * from product where productname=#{productName}
	</select>
	
	<insert id="productBoardWrite" parameterType="java.util.Map">
		insert into productBoard values(
			seq_productBoard.nextval
			,#{productCode}
			,#{productSubject}
			,#{productContent}
			,#{productPrice}
			,#{productQty}
			,sysdate
		)
	</insert>
	
	<!-- 카테고리별로 출력 -->
	<select id="getProductBoardList" resultType="productJoin" parameterType="java.util.Map">
		select * from product p ,productboard b where p.productCode = b.productCode and productcategory=#{productCategory}
	</select>
	<select id="getProductBoardView" resultType="productJoin" parameterType="java.util.Map">
		select * from product p ,productboard b where p.productCode = b.productCode and seq=#{seq}
	</select>
</mapper>