<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="recipeBoardSQL">

	<!-- 글쓰기 -->
	<insert id="recipeBoardWrite" parameterType = "java.util.Map">
		insert into recipeBoard(
			seq,category,nickname,subject,content
		)
		values(
			seq_recipeboard.nextval
			,#{category}
			,#{nickName}
			,#{subject}
			,#{content}
		)
	</insert>
	<!-- 목록 -->
	<select id="getRecipeBoardList" parameterType="java.util.Map" resultType="recipeBoard">
		
			select * from (select rownum rn, tt.*
			from (select * from recipeboard  <if test="category != 'all'">
							where category=#{category}
						</if> order by seq desc)tt)
						where rn &gt;=${startNum} and rn &lt;=${endNum}
						
	
	</select>
	
	<select id="getRecipeBoardListIndex" parameterType="java.util.Map" resultType="recipeBoard">
		
			select * from (select rownum rn, tt.*
			from (select * from recipeboard order by seq desc)tt)
						where rn &gt;=${1} and rn &lt;=${8}
						
	
	</select>
	
	<!-- 총글수 -->
	<select id="getTotalA" resultType="Int" parameterType="java.util.Map">
		select count(*) from recipeboard 
			<if test="category != 'all'">
				where category=#{category}
			</if>
	</select>
	
	
	<select id="getRecipeBoardView" parameterType="Int" resultType="recipeBoard">
		select * from recipeboard where seq = #{seq}
	</select>
	
	<select id="getTotalSearchA"  parameterType="java.util.Map" resultType="Int">
		select count (*) from recipeboard where content like '%'||#{keyword}||'%' or subject like '%'||#{keyword}||'%'
	</select>
	
	<select id="getRecipeBoardSearch" parameterType="java.util.Map" resultType="recipeBoard">
		<![CDATA[
		select * from
		(select rownum rn, tt.*
		from (select * from recipeboard where content like '%'||#{keyword}||'%' or subject like '%'||#{keyword}||'%'
										order by seq desc)tt)
		where rn >= ${startNum} and rn <=${endNum}
				
		]]>
	</select>
	
</mapper>