<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shopSQL">
	<!-- 회원정보 가져오기 -->
	<select id="getProductBuy" parameterType ="String" resultType="email">
		select * from crackerEmail where email = #{memEmail}
	</select>
	
	<update id="memberaddressUpdate" parameterType ="java.util.Map">
		update crackermember set memberaddress1 = #{addr1}, memberaddress2 = #{addr2}, memberzipcode = #{zipcode} where memberemail = #{email}
	</update>
	<insert id="productbuylistInsert" parameterType="productbuylist">
		insert into productbuylist values(
			#{productseq},
			#{productimg},
			#{productsubject},
			#{productcontent},
			#{productprice},
			#{productqty},
			#{producttotalprice},
			0,
			#{memberemail}
		)
	</insert>
	<select id="productbuylistSelectOne" resultType="int" parameterType="productbuylist">
		select count(*) from productbuylist where productseq = #{productseq} and memberemail = #{memberemail}
	</select>
	<select id="productbuylistSelect" resultType="productbuylist" parameterType="productbuylist">
		select * from productbuylist where productseq = #{productseq} and memberemail = #{memberemail}
	</select>
	<update id="productbuylistQtyUpdate" parameterType="java.util.Map">
		update productbuylist set productqty = #{productqty}+#{shopqty}, producttotalprice = #{Producttotalprice}+#{totalprice} where productseq = #{seq} and memberemail = #{memberemail}
	</update>
	
	<select id="getcartView" resultType="productbuylist" parameterType="String">
		select * from productbuylist where memberemail = #{memberEmail}
	</select>
	
	<delete id="cartViewDelete" parameterType="java.util.Map">
		delete productbuylist where memberemail = #{memberEmail} and productseq = #{productseq}
	</delete>
	
	<delete id="cartViewDelete2" parameterType="java.util.Map">
		delete productbuylist where memberemail = #{memberemail} and productseq = #{productseq}
	</delete>
	
	<select id="cartBuyList" parameterType="java.util.Map" resultType="productbuylist">
		select * from productbuylist where productseq = #{productseq} and memberemail = #{memberemail}
	</select>
	
	<!-- 구입완료DB -->
	<insert id="memberBuyList2" parameterType="java.util.Map" >
		insert into memberBuyList values(
				#{productseq},
				#{productsubject},
				#{productprice},
				#{productqty},
				#{productphoto},
				#{productbuydate},
				#{memberemail},
				#{membername},
				#{membertel},
				#{memberaddress}
		)
	</insert>
	
	<!-- 구입목록 -->
	<select id="getbuylist" parameterType="String" resultType="memberbuylist">
		select * from memberbuylist where memberemail = #{memberemail}
	</select>
</mapper>