@charset "UTF-8";

.productMengeListImg{
	
	width:250px;
	height: 250px;
}
#productMangeListUl li{
	background-color: #ffffff;
	float: left;
	width: 260px;
	height: auto;
	border: solid 1px #888888;
	margin: 10px;
}
#productMangeListUl:after{
	content: "";
	display: block;
    clear: both;
}
#productMangeListUl > li > div{
	font-size: 15px;
	padding: 5px;
	text-align: center;
}


