@charset "UTF-8";
productListLi a:visited{
	text-decoration: none;
	
}
.productForm li{
	float: left;
	padding: 5px;
	border: 1px solid #999999;
	margin: 5px;
	width: 220px;
}
.productForm ul:after{
	content: '';
	display: block;
	clear: both; /* flex 써도 됨 */
}
.productForm li div{
	font-size: 18px;
	text-align: center;
	padding: 5px;
	border-bottom: 1px solid #dddddd;
}
.productForm li div img{
	width: 200px;
	height: 200px;
}
.productForm{
	
	width: 800px;
	height: auto;
	
}
.productForm .productFormTitle{
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	text-align: center;
	font-size: 50px;

}