@charset "UTF-8";

.userHistory {
	position: fixed;
	top: 72px;
	right: 10px;
	z-index: 1100;
	width: 320px;
	border-radius: 0 0 3px 3px;
	background-color: #FFFFFF;
	border: red 1px solid;
	display: none;
	
}
.userHistoryBtnClass{
	margin :15px;
	width: 90%;
    height: 50px;
    border: 2px solid #ff792a;
    border-radius: 50px;
    font-size: 16px;
    color: #FF7100;
}
#userHistory_black{
	position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}